<form class="form">
  <div class="form-group d-flex">
    <label class="col-3">Name</label>
    <input #name class="form-control" type="text"  />
  </div>

  <div class="form-group d-flex">
    <label class="col-3">Email</label>
    <input #email class="form-control" type="text"  />
  </div>


  <div class="form-group d-flex">
    <label class="col-3">Age</label>
    <input #age class="form-control" type="text"  />
  </div>


  <div class="form-group d-flex">
    <label class="col-3">Phone</label>
    <input #phone class="form-control" type="text"  />
  </div>


  <div class="form-group d-flex justify-content-center mt-2">
    <input class="btn btn-outline-dark" type="button"  value="ADD" (click)="add(name.value, email.value, age.value, phone.value)" />
  </div>
</form>
